<div class="card" >
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="Card image cap" 
        alt="{{product.title}}">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <h6 class="card-text text-muted">{{product.price| currency:'USD':true}}</h6>
    </div>
    <div *ngIf="showActions&&shoppingCart " class="card-footer">
        <button class="btn btn-secondary btn-block" 
                *ngIf="shoppingCart.getQuantity(product)===0; else updateQuantity"
                (click)="addToCart(product)" >Add To Cart</button>
        <ng-template #updateQuantity>
            <product-quantity 
                [product]="product"
                [shopping-cart]="shoppingCart">
                    
            </product-quantity>
        </ng-template>

    </div>
</div>