<div class="sticky-top">
    <div class="list-group">
        <a routerLink="/"
           [class.active]="!category"
           class="list-group-item list-group-item-action"
           >All Categories</a>
        <a class="list-group-item list-group-item-action"
           *ngFor="let c of categories$ | async"
           routerLink="/"
           [queryParams]="{category:c.$key}"

           [class.active]="category==c.$key"
           >
           {{c.name}}      
    </a>
</div>
</div>