<div class="row">
    <div class="col-md-4 order-md-2 mb-4" *ngIf="product.title">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Preview product</span>
        </h4>
        <product-card [product]="product" [show-actions]="false"></product-card>
<!--        <div class="card" style="width: 18rem;">
            <img class="card-img-top" *ngIf="product.imgUrl" [src]="product.imgUrl" alt="Card image cap">
            <div class="card-body">
                <h5  *ngIf="product.title" class="card-title">{{product.title}}</h5>
                <p *ngIf="product.price" class="card-text">{{product.price | currency:'USD':true }}</p>
                <p *ngIf="product.category" class="card-text">{{product.category }}</p>
            </div>
        </div>-->
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">New Product</h4>
        <form #f="ngForm" (ngSubmit)="saveProduct(f)" class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="title">Title</label>
                    <input type="text" [(ngModel)]="product.title" #title="ngModel" name="title" class="form-control" id="title" placeholder="" value="" required>
                    <div class="text-danger" *ngIf="title.touched && title.invalid">
                         Valid Title is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="price">Price</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" [(ngModel)]="product.price" #price="ngModel" name="price"  class="form-control" id="price" placeholder="Price" required [min]="0">
                <div class="text-danger" style="width: 100%;" *ngIf="price.touched && price.invalid">
                     <div *ngIf="price.errors.required" >   Price is required.</div>
                     <div *ngIf="price.errors.min" >   Price should be 0 or higher.</div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="imageurl">Image Url</label>
        <input type="text" [(ngModel)]="product.imgUrl" #imgUrl="ngModel" name="imgUrl"  class="form-control" id="imageurl" required url>
        <div class="alert alert-danger text-danger" *ngIf="imgUrl.touched && imgUrl.invalid">
            <div *ngIf="imgUrl.errors.required">Image URL is required.</div>
            <div *ngIf="imgUrl.errors.url">Please enter a valid URL.</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-12">
        <label for="category">Category</label>
        <select [(ngModel)]="product.category" #category="ngModel" name="category"  class="custom-select d-block w-100" id="category" required="">
            <option value="">Choose...</option>
            <option *ngFor="let category of categories$ | async" [value]="category.$key">{{ category.name }}</option>
        </select>
        <div class="text-danger" *ngIf="category.touched && category.invalid">
             Please select a valid category.
    </div>
</div>
</div>
<hr class="mb-4">
<button class="btn btn-primary " type="submit">Save Product</button>
<button type="button" (click)="delete()" class="btn btn-danger ">Delete</button>
</form>
</div>
</div>