<div class="row ng-gutters">
    <div class="col-2">
        <button
            (click)="removeFromCart()"
            class="btn btn-secondary btn-block">-
        </button> 
    </div>
    <div class="col">
        {{shoppingCart.getQuantity(product)}}   
    </div>
    <div class="col-2">
        <button 
            (click)="addToCart()"
            class="btn btn-secondary btn-block">+</button> 
    </div>
</div>