
<h2>Shipping</h2>
<div class="row" *ngIf="cart$ | async as cart">
<div class="col-6">
      <shipping-form [cart]="cart"></shipping-form>
</div>
<div class="col-6">
<shopping-cart-summary [cart]="cart" ></shopping-cart-summary>
</div>
</div>
